

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-flow: column;
 }

 #main > article, #main > nav, #main > aside {
  /* Return them to document order */
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > aside, header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}

/**************** ALL PAGE STYLE ****************/


body {
   font: 24px Helvetica;
   background: #999999;
   color: blue;
  }


/**************** HEADER ****************/


header {
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 100px;
 border: 1px solid #eebb55;
 border-radius: 7pt;
 background: #ffeebb;
 font-weight: bold;
 text-align: center;
 align-items: center;
 }
header > h1 {
color: blue;
font-family: 'Bungee Shade', cursive;
font-size: 64px;
font-weight: 700;
line-height: 64px;
margin: 0 0 0;
padding: 20px 30px;
text-align: center;
text-transform: uppercase; }

/**************** MAIN CONTENT ****************/

  #main {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }


   /**************** NAVIGATION ****************/


#main > nav {
 margin: 4px;
 padding: 5px;
 border: 1px solid #8888bb;
 border-radius: 7pt;
 background: #ccccff;
 -webkit-flex: 1 6 20%;
         flex: 1 6 20%;
 -webkit-order: 1;
         order: 1;
 }

  nav {
    display: flex;
    flex-direction: column;
  }
  a {
  text-decoration: none;
}

  nav > ul li {
    margin-bottom: 30px;
    font-family: 'Bungee Shade', cursive;
  }
  nav > ul {
    list-style-type: none;
    text-decoration: none;
  }

.us {
  color: blue;
  margin-bottom: 10px;
}

.jas {
  margin-bottom: 10px;
  margin-left: 30px;
}

.ty {
  margin-left: 30px;
}

  /**************** ARTICLE ****************/


  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }

article {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

article > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 80px;
  font-family: 'Rasa', serif;
}
article > h2 {
  color: Black;
  font-size: 70px;
  font-family: 'Bungee Shade', cursive;
  font-family: 'Farsan', cursive;

}

article > h5 {
  color: Black;
  font-size: 40px;
}

article > p {
  color: #205636 ;
}

article > li {
  color: #205636 ;
}

article > p > img {
}

   /**************** ASIDE ****************/


  #main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }

   aside > h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
  }


/**************** JASON'S PAGE ****************/

#jason_a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#jason_a > li {
  line-height: 5px;
  margin-left: 0;
  margin-top: 20px;
}
#j_list > li {
  margin-top: 20px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

h3 {
  font-size: 40px;
}


#jas_img {
  border-radius: 150px;
}
#madrid {
  border-radius: 50px;
  border: 2px solid;
}
#madrid_info {
  margin-top: 20px;
  text-align: center;
}



/**************** TYLERS'S PAGE ****************/

#tyler_a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tyler_a >  li {
  line-height: 5px;
  margin-left: 0;

}
#t_list > li {
  margin-top: 20px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

h3 {
  font-size: 40px;
}

#ty_img {
  border-radius: 150px;
}
#hawaii {
  border-radius: 50px;
  border: 2px solid;
}
#Hawaii_info {
  margin-top: 20px;
  text-align: center;
}

/**************** FOOTER ****************/

  footer {
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }

   #footer {
    margin-bottom: 0;
    text-align: left;
    margin-top: 80px;
    color:black;
    font-size: 15px;
  }
